.pkitem-abomasite {
    background-position: 0 -30px;
    height: 14px;
    width: 14px
}

.pkitem-absolite {
    background-position: -16px -30px;
    height: 14px;
    width: 14px
}

.pkitem-adamant-orb {
    background-position: -140px -666px;
    height: 22px;
    width: 22px
}

.pkitem-aerodactylite {
    background-position: -32px -30px;
    height: 14px;
    width: 14px
}

.pkitem-air-balloon {
    background-position: -266px -417px;
    height: 22px;
    width: 18px
}

.pkitem-altarianite {
    background-position: -80px -30px;
    height: 14px;
    width: 14px
}

.pkitem-assault-vest {
    background-position: -350px -322px;
    height: 18px;
    width: 21px
}

.pkitem-beedrillite {
    background-position: -144px -30px;
    height: 14px;
    width: 14px
}

.pkitem-berry-juice {
    background-position: -504px -322px;
    height: 19px;
    width: 20px
}

.pkitem-black-glasses {
    background-position: -64px -222px;
    height: 15px;
    width: 21px
}

.pkitem-black-sludge {
    background-position: -87px -222px;
    height: 17px;
    width: 20px
}

.pkitem-blazikenite {
    background-position: -176px -30px;
    height: 14px;
    width: 14px
}

.pkitem-blue-orb {
    background-position: -151px -222px;
    height: 18px;
    width: 18px
}

.pkitem-bright-powder {
    background-position: -463px -417px;
    height: 18px;
    width: 22px
}

.pkitem-charcoal {
    background-position: -574px -417px;
    height: 20px;
    width: 20px
}

.pkitem-charizardite-x {
    background-position: -251px -30px;
    height: 14px;
    width: 14px
}

.pkitem-chesto-berry {
    background-position: -336px -222px;
    height: 19px;
    width: 18px
}

.pkitem-choice-band {
    background-position: -600px -666px;
    height: 22px;
    width: 22px
}

.pkitem-choice-scarf {
    background-position: -624px -666px;
    height: 22px;
    width: 22px
}

.pkitem-choice-specs {
    background-position: 0 -346px;
    height: 16px;
    width: 22px
}

.pkitem-chople-berry {
    background-position: -24px -346px;
    height: 20px;
    width: 19px
}

.pkitem-damp-rock {
    background-position: -648px -666px;
    height: 22px;
    width: 22px
}

.pkitem-draco-plate {
    background-position: -24px -691px;
    height: 22px;
    width: 22px
}

.pkitem-eviolite {
    background-position: -326px -13px;
    height: 13px;
    width: 13px
}

.pkitem-expert-belt {
    background-position: -629px -586px;
    height: 21px;
    width: 22px
}

.pkitem-flame-orb {
    background-position: -438px -88px;
    height: 16px;
    width: 16px
}

.pkitem-flying-gem {
    background-position: -475px -88px;
    height: 15px;
    width: 18px
}

.pkitem-focus-sash {
    background-position: -264px -467px;
    height: 21px;
    width: 20px
}

.pkitem-galladite {
    background-position: -333px -30px;
    height: 14px;
    width: 14px
}

.pkitem-gardevoirite {
    background-position: -365px -30px;
    height: 14px;
    width: 14px
}

.pkitem-gengarite {
    background-position: -381px -30px;
    height: 14px;
    width: 14px
}

.pkitem-gyaradosite {
    background-position: -446px -30px;
    height: 14px;
    width: 14px
}

.pkitem-heat-rock {
    background-position: -141px -610px;
    height: 21px;
    width: 22px
}

.pkitem-icy-rock {
    background-position: -640px -691px;
    height: 22px;
    width: 22px
}

.pkitem-kangaskhanite {
    background-position: -48px -53px;
    height: 14px;
    width: 14px
}

.pkitem-kings-rock {
    background-position: -235px -610px;
    height: 22px;
    width: 21px
}

.pkitem-leftovers {
    background-position: -150px -107px;
    height: 20px;
    width: 13px
}

.pkitem-life-orb {
    background-position: -165px -107px;
    height: 16px;
    width: 16px
}

.pkitem-light-clay {
    background-position: -311px -154px;
    height: 16px;
    width: 19px
}

.pkitem-lopunnite {
    background-position: -112px -53px;
    height: 14px;
    width: 14px
}

.pkitem-lucarionite {
    background-position: -128px -53px;
    height: 14px;
    width: 14px
}

.pkitem-lum-berry {
    background-position: -383px -154px;
    height: 17px;
    width: 18px
}

.pkitem-mental-herb {
    background-position: -176px -272px;
    height: 17px;
    width: 19px
}

.pkitem-metagrossite {
    background-position: -208px -53px;
    height: 14px;
    width: 14px
}

.pkitem-mewtwonite-x {
    background-position: -224px -53px;
    height: 14px;
    width: 14px
}

.pkitem-mewtwonite-y {
    background-position: -240px -53px;
    height: 14px;
    width: 14px
}

.pkitem-miracle-seed {
    background-position: -456px -154px;
    height: 17px;
    width: 17px
}

.pkitem-mystic-water {
    background-position: -401px -370px;
    height: 21px;
    width: 18px
}

.pkitem-normal-gem {
    background-position: -292px -107px;
    height: 15px;
    width: 18px
}

.pkitem-occa-berry {
    background-position: -475px -154px;
    height: 17px;
    width: 17px
}

.pkitem-passho-berry {
    background-position: 0 -394px;
    height: 18px;
    width: 20px
}

.pkitem-pinsirite {
    background-position: -288px -53px;
    height: 14px;
    width: 14px
}

.pkitem-red-card {
    background-position: -516px -107px;
    height: 17px;
    width: 15px
}

.pkitem-red-orb {
    background-position: -110px -538px;
    height: 22px;
    width: 18px
}

.pkitem-rocky-helmet {
    background-position: -266px -394px;
    height: 18px;
    width: 20px
}

.pkitem-sablenite {
    background-position: -353px -53px;
    height: 14px;
    width: 14px
}

.pkitem-salamencite {
    background-position: -369px -53px;
    height: 14px;
    width: 14px
}

.pkitem-sceptilite {
    background-position: -385px -53px;
    height: 14px;
    width: 14px
}

.pkitem-scizorite {
    background-position: -401px -53px;
    height: 14px;
    width: 14px
}

.pkitem-scope-lens {
    background-position: -416px -636px;
    height: 21px;
    width: 22px
}

.pkitem-shell-bell {
    background-position: -508px -394px;
    height: 18px;
    width: 21px
}

.pkitem-shuca-berry {
    background-position: -552px -394px;
    height: 20px;
    width: 19px
}

.pkitem-sitrus-berry {
    background-position: -593px -394px;
    height: 20px;
    width: 18px
}

.pkitem-slowbronite {
    background-position: -433px -53px;
    height: 14px;
    width: 14px
}

.pkitem-soft-sand {
    background-position: -534px -538px;
    height: 18px;
    width: 22px
}

.pkitem-steelixite {
    background-position: -465px -53px;
    height: 14px;
    width: 14px
}

.pkitem-thick-club {
    background-position: -217px -562px;
    height: 20px;
    width: 20px
}

.pkitem-toxic-orb {
    background-position: -397px -130px;
    height: 16px;
    width: 16px
}

.pkitem-wacan-berry {
    background-position: -180px -417px;
    height: 19px;
    width: 20px
}

.pkitem-weakness-policy {
    background-position: -209px -322px;
    height: 17px;
    width: 20px
}

.pkitem-white-herb {
    background-position: -251px -322px;
    height: 17px;
    width: 19px
}
